<html>
    <head>
           <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       </head>
   <body>
       <div style="display: block;text-align:center">
       <div class="card" style="width: 40%; display: inline-block;text-align: center; margin: auto;">
               <div class="card-body">
           <h5>Hi {{name}}</h5>
           <p>Click on the following link to reset your password.</p>
           <a href={{url}}>Reset Password</a>
            </div>
           </div>
           </div>        
       </body>
    </html>