<html>
  <head> </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script>
      const socket = io("http://localhost:3002/chat");
       socket.emit('send_message',{"senderId": "5db184c7336a6f4efd7e7306",
      "recieverId": "5db18419336a6f4efd7e7305", "message":"hi"})  
      socket.on('recieve_message', (msg) => {
        console.log('recieve_message',msg)
      }); 
      /*  socket.on('activity', function(act){
        console.log('activity',act)
      }); */
      socket.on('/5db18419336a6f4efd7e7305',(val) => { console.log(val) })
     /*  socket.on('/5db184c7336a6f4efd7e7306',(val) => { console.log(val) }) */
    </script>
  </body>
</html>
