<html>
  <head> </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script>
      const socket = io("http://localhost:3001");
      socket.emit("connection", "hello connection");
      socket.emit("send_message",{senderId: '5d9f035cc169622876cd9aa0',
      recieverId: '5d9f0370c169622876cd9aa1', message:'hello'})
      socket.on('recieve_message', function(msg){
        console.log('message',msg)
      });
    </script>
  </body>
</html>
